/* font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    /* Fonts */
    --ft-primary: 'Open Sans', sans-serif;
    /* Font Colors */
    --ft-color-light: #ffe;
    --ft-color-dark: #202020;
    --ft-color-link: #3377ee;
    /* Background Colors */
    --bg-color-light: #fffffc;
    /* General colors: (Based on bootstrap color scheme) */
    --color-primary: #5855fa;
    --color-secondary: #b4b0eb;
    --color-success: #70f886;
    --color-danger: #fc6666;
    --color-warning: #f2f557;
    /* Misc */
    /* Blockquote */
    --border-left-color-blockquote: #231a24;
    --border-line-color: #bdbdbd8c;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    /* Sizes and scales */
    max-width: 45em;
    margin: 0 auto;
    padding: 15px;
    min-height: 100vh;
    /* Positions */
    display: flex;
    flex-direction: column;
    /* Colors */
    background: none var(--bg-color-light);
    /* Text and misc */
    word-break: break-word;
    overflow-wrap: break-word;
}


/* Nav */

header {
    padding: 1rem 0rem 1rem 0rem;
}

header>h1 {
    font-weight: 700;
}

nav a {
    margin: 0 .1rem;
    text-decoration: none;
    outline: none;
}


/* ====================== */


/* Footer */

footer {
    margin: .9rem 0;
    text-align: center;
    border-top: 1px solid #00000041;
}


/* ======================  */


/* ========== Article header =========== */

article>header {
    margin-bottom: 2rem;
    padding: .5rem 0;
    border-bottom: 1px solid var(--border-line-color);
}

article>h1 {
    margin-bottom: 2rem;
    padding: .5rem 0;
    border-bottom: 1px solid var(--border-line-color);
}

article>header>h1 {
    font-weight: 800;
}

article>header>div {
    display: flex;
}

article>header>div p {
    margin: 0 0.2rem;
}

article>header>div p:first-child {
    color: rgb(32, 32, 32);
    font-weight: 600;
}

article>header>div p:not(:first-child) {
    color: rgb(133, 133, 133);
    font-style: italic;
}


/* ====================================== */


/* Forall */

article,
aside,
audio,
blockquote,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
section,
table,
textarea,
ul,
video {
    margin-bottom: .7rem;
}


/* ********************   Heading, paragraphs and links   ******************** */

h1,
h2,
h3,
h4,
h5,
h6,
summary,
p,
input,
figcaption,
a {
    font-family: var(--ft-primary);
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
summary,
p,
input {
    color: var(--ft-color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 1rem 0;
}

h1 {
    font-size: 2.30rem;
    display: flex;
}

h2 {
    font-size: 2.10rem;
}

h3 {
    font-size: 1.90rem;
}

h4 {
    font-size: 1.70rem;
}

h5 {
    font-size: 1.30rem;
}

h6 {
    font-size: 1.10rem;
}

p {
    font-size: 1rem;
    line-height: 1.7em;
}

a {
    text-decoration: underline;
    color: var(--ft-color-link);
    font-weight: bold;
    cursor: pointer;
}


/* ********************   Images   ******************** */

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figcaption {
    margin: 1rem auto 1.2rem;
    font-size: 0.9rem;
}

img {
    max-width: 100%;
    height: auto;
}


/* ********************   Lists   ******************** */

ul,
ol,
dl,
dd {
    margin-left: 12px 0;
    padding: 0px 0px 0px 40px;
}

li,
dl {
    font-family: var(--ft-primary);
    color: var(--ft-dark);
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}


/* Description lists */

dt {
    display: list-item;
}

dd::before {
    content: "- ";
}


/* ********************   Special Tags   ******************** */

/* Code */
pre {
    border-radius: 4px;
    padding: 1rem 1rem 0.7rem;
    color: #fff;
    background-color: #08090a;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;    
}

pre code {
    font-family: 'Fira Code', monospace;
    font-size: .8rem;
}

/* Bloquote */

blockquote {
    margin-top: 2rem;
    padding: 1.2rem 1.2rem 1rem 1.2rem;
    font-size: 1rem;
    font-family: var(--ft-primary);
    border: 2px solid var(--border-line-color);
    border-left: 3px solid var(--border-left-color-blockquote);
    border-radius: 2px;
}

blockquote>p {
    font-style: italic;
}


/* Marked text */

mark {
    color: white;
    border-radius: 2px;
    background-color: #000;
    padding: 0px 2px;
}


/* Keyboard input */

kbd {
    border-radius: 2px;
    padding: 2px 4px;
    color: #fff;
    background-color: #000;
    font-size: 1.1rem;
}


/* Frame */

iframe {
    width: 100%;
    height: 24rem;
    /*para monitor standart 1366*/
    /* margin: 0 auto; */
}


/* ********************   Tables   ******************** */

table {
    width: 100%;
    font-family: var(--ft-primary);
    cursor: pointer;
}

caption {
    font-size: 1.3rem;
    text-align: left;
    margin: .9rem 0;
}

thead th,
tfoot th {
    color: var(--ft-color-dark);
    background-color: #e9e9e9;
}

thead th:first-child {
    border-top-left-radius: 2px;
}

thead th:last-child {
    border-top-right-radius: 2px;
}

tfoot th:first-child {
    border-bottom-left-radius: 2px;
}

tfoot th:last-child {
    border-bottom-right-radius: 2px;
}

td,
th {
    color: var(--ft-color-dark);
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #ececec;
}

tr:nth-child(odd) {
    background-color: #fcfcfc;
}


/* ********************   Inputs   ******************** */

label {
    padding-left: 14px;
    display: block;
}

input,
label {
    font-family: var(--ft-primary);
}

input,
button {
    padding: 0.5rem;
    margin: 0.8rem;
    font-size: 0.9rem;
    border-radius: 3px;
    --bg-color-input: #f8f8f8;
    background-color: var(--bg-color-input);
    color: #333;
}

input {
    border: 1px solid rgba(46, 46, 46, 0.486);
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    padding: 0.5rem;
    border: none;
    /* border: 1px solid rgba(46, 46, 46, 0.486); */
    /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.274); */
    width: 6rem;
    height: 2.7rem;
    transition: .5s;
    background-color: var(--color-primary);
    color: #fff;

}


/* Small devices <= 576 */
@media (max-width: 576px) {

    main { max-width: 80em; }

    h1 {
        font-size: 2rem;
        display: flex;
    }
    
    h2 { font-size: 1.7rem; }
    
    h3 { font-size: 1.5rem; }
    
    h4 { font-size: 1.4rem; }
    
    h5 { font-size: 1.2rem; }
    
    h6 { font-size: 1rem; }

    p, a { font-size: .9rem; }

    pre code { font-size: .7rem; }

    article>header>div { flex-direction: column; }    
}

/* Medium devices (tablets, 768px and up) >= 768 */
@media (min-width: 768px) {
    main {
        max-width: 70em;
    }
}

/* Large devices (desktops, 992px and up) >= 992 */
@media (min-width: 992px) {
    main {
        max-width: 60em;
    }
}

/* >= 1200px */
@media (min-width: 1200px) {
    main {
        max-width: 50em;
    }
}